html {
  font-family: Work Sans, Arial;
}

body {
  margin: 0;
}

h1 {
  font-family: Work Sans, Arial;
  font-size: 60px;
  font-weight: 400;
  color: #2E4F21;
  line-height: 105%;
  letter-spacing: -7%;
  padding: 0 0 24px 0;
  margin: 0;
}

h2{
  font-family:Work Sans, Arial;
  font-size: 40px;
  font-weight: 400;
  color: #2E4F21;
  line-height: 105%;
  letter-spacing: -4.5%;
  padding: 0 0 40px 0;
  margin: 0;
}

.small-text {
  font-size: 16px;
  font-weight: 400;
  color: #2E4F21;
  line-height: 110%;
  letter-spacing: -4.5%;
  padding-bottom: 70px;
}

.cta {
  padding: 12px;
  background-color: #2E4F21;
  color: white;
  border-radius: 51px;
}

.hero-section {
  max-width: 1280px;
  padding: 100px 40px 100px 40px;
  background-color: #A0F1BD;
}

.hero-container {
  display: flex;
}

.hero-container .small-text{
  font-size: 16px;
  font-weight: 400;
  color: #2E4F21;
  line-height: 110%;
  letter-spacing: -4.5%;
  padding-bottom: 50px;
}

.hero-left-section {
  width: 60%;
  padding-right: 80px;
  align-content: center;
}

.hero-right-section {
  width: 40%;
}

.hero-img {
  width: 100%;
}

.service-section{
  max-width: 1280px;
  padding: 100px 40px 100px 40px;
}

.title ,.info {
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 500;
  color: #2E4F21;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 28px;
}

.service-container .small-text{
  font-size: 16px;
  font-weight: 400;
  color: #2E4F21;
  line-height: 110%;
  letter-spacing: -4.5%;
  margin-bottom: 28px;
  text-align: center;
  padding-bottom: 0;
}

.service-container .button-container{
  display: flex;
  justify-content: center;
}

.tax-section{
  max-width: 1280px;
  padding: 20px 224px 20px 20px;
}

.tax-container{
  max-width: 1036px;
  display: flex;
  background-color: #D2F8DC;
  padding: 80px 100px 80px 80px;
  border-radius:20px;
}

.left-section{
  width: 50%;
  padding-right: 70px;
}

.website-img{
  width: 100%;
  
}

.right-section{
  width: 50%;
  
}

.benefits{
  display: flex;
}

.benefits-box{
  background-color: white;
  color:#506349 ;
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -4.5%;
  margin-right: 10px;
  padding: 12px;
  border-radius: 8px;
  text-transform: capitalize;
}

.audit-section{
  max-width: 1280px;
  padding: 20px 20px 20px 216px;
}

.audit-container{
  max-width: 1044px;
  display: flex;
  background-color: #D2F8DC;
  padding: 80px 80px 80px 80px;
  border-radius:20px;
}

.audit-container .right-section{
  padding-left: 70px;
  width: 45%;
}

.audit-container .left-section{
  padding-right: 0;
  width: 55%;
}


.accounts-section{
  max-width: 1280px;
  padding: 20px 240px 20px 20px;
}

.accounts-container{
  max-width: 1020px;
  display: flex;
  background-color: #D2F8DC;
  padding: 80px 80px 80px 80px;
  border-radius:20px;
}

.accounts-container .right-section{
  align-content: center;
}

.review-section{
  max-width: 1280px;
  
 
}

.review-container{
  max-width: 1080px;
  padding: 100px;
}

.upper-container h1{
  text-align: center;
}